body, html {
    background: linear-gradient(0deg, #f4f7fc 70%, #153d77 70%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.text-blue{
    color: #153d77;
}

@media only screen and (max-width: 992px) {
    .navBarDrop{
        background-color: #153d77;
    }
}

tr {
    display: block;
}

th, td {
    width: 300px;
}

tbody {
    display: block;
    height: 60vmin;
    overflow: auto;
}

.alert-custom{
    background-color:#fb404b;
    color:#fff;
  }

.flexContainer{
    display: flex;
  }

  .studyInfo{
    flex-grow: 2;
  }

  .ReportSummary{
    flex-grow: 3;
  }

  .centerCards{
    margin-top: 5%;
  }

  .dashboardCard{
    margin-top: 3%;
    max-width: 90%;
  }

  .calendarStyle{
      color: darkblue;
      margin: auto;
  }
